{% include ext.html type="warning" title="A Word of Caution" %}
Sangria as well as GraphQL specification are very young projects. Even though sangria is feature-complete now,
it is not finished yet and may contain bugs and other nasty things. Library and specification will evolve very fast in near future which
also mean backwards-incompatible changes before version 1.0. I do like GraphQL specification a lot and want to give other people in the community all of the necessary
tools to start experimenting with GraphQL and see how it fits in their applications and projects. That's because I tried to put a lot of effort very early to enable
this as soon as possible.
{% include cend.html %}

{% include ext.html type="info" title="Work In Progress" %}
The documentation is work in progress at the moment. If you are interested in contributing to the documentation,
you are <a href="{{"/community/#contribute-to-the-website" | prepend: site.baseurl}}">very welcome to do so</a>! It can be sangria-specific docuemntation as well as more general information about GraphQL.
{% include cend.html %}