<head>
  <!-- meta stuff -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="sangria,scala,graphql" />

  <link rel="shortcut icon" type="image/png" href="{{"/assets/img/favicon.png" | prepend: site.baseurl}}">

  <link rel="canonical" href="https://{{site.domain}}" />

  <meta name="description" content="Sangria - Scala GraphQL Implementation">

  <meta property="og:type" content="article">
  <meta property="og:url" content="http://{{site.domain}}">
  <meta property="og:title" content="Sangria - Scala GraphQL Implementation">
  <meta property="og:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image:url" content="http://{{site.domain}}/assets/img/share-sangria.png">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@easyangel">
  <meta name="twitter:creator" content="@easyangel">
  <meta name="twitter:title" content="Sangria - Scala GraphQL Implementation">
  <meta name="twitter:description" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:image" content="http://{{site.domain}}/assets/img/share-sangria.png">

  <!-- /meta stuff -->

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{"/assets/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{"/assets/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{"/assets/css/syntax.css" | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{"/assets/css/sidebar.css" | prepend: site.baseurl}}" rel="stylesheet">

  {% if site.bootstrap-theme %}
    <link href="{{"/assets/bootstrap/css/" | prepend: site.baseurl}}bootstrap-{{site.bootstrap-theme}}.min.css"" rel="stylesheet">
  {% endif %}

  <link href="{{"/assets/css/main.css" | prepend: site.baseurl}}" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i|Roboto:100,300,300i,700" rel="stylesheet">

  <script src="//use.typekit.net/wng7fcn.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
