<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{"/assets/bootstrap/css/bootstrap.min.css" | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{"/assets/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{"/assets/css/syntax.css" | prepend: site.baseurl}}" rel="stylesheet">
  <link href="{{"/assets/css/sidebar.css" | prepend: site.baseurl}}" rel="stylesheet">

  {% if site.theme %}
    <link href="{{"/assets/bootstrap/css/" | prepend: site.baseurl}}bootstrap-{{site.theme}}.min.css"" rel="stylesheet">
  {% endif %}

  <link href="{{"/assets/css/main.css" | prepend: site.baseurl}}" rel="stylesheet">

  <script src="//use.typekit.net/wng7fcn.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
