.fixed {
  position: fixed;
  padding-top: 20px;
}

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  border-left: 2px solid transparent;
  padding: 4px 20px;
  font-size: 21px;
  font-weight: 400;
  font-family: "ff-enzo-web";
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
  font-size: 21px;
  font-family: "ff-enzo-web";
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #DC7676;
  text-decoration: none;
  background-color: transparent;
  border-left-color: #DC7676;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  font-weight: 600;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
  font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;
}

/*Header formatting */
.MainContent {
  margin-top: 50px;
}
.group, .subgroup {
  padding-top: 50px;
  margin-top: -50px;
}
